section{
    padding: 10px;
    background-color: lightgray;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
.mat-menu{
    width: 300px;
    background-color: lightblue;
}
}