section {
    position: relative;
    height: 80vh;
    width: 100vw;
    overflow-x: hidden;
    button{
        position: absolute;
        bottom: 20px;
        right: 20px;
    }

    .smiley {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;

    }

    .vokabeln-fragen {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease-in-out;

        &.vokabeln-richtig {
            animation: moveToTopLeft 0.5s ease-in-out forwards;
        }

        &.vokabeln-falsch {
            animation: moveToTopRight 0.5s ease-in-out forwards;
        }
    }
    

    app-correct-and-incorrect {
        position: absolute;
        left: 50%;
        top: 72%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        width: 0px;
    }

    @keyframes moveToTopLeft {
        0% {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(0deg);
            opacity: 1; // Anfänglich sichtbar
        }

        80% {
            top: 0px;
            left: 10px;
            transform: translate(0, 0) rotate(-10deg);
            opacity: 1; // Sichtbar während der Bewegung
        }

        100% {
            top: 0px;
            left: 10px;
            transform: translate(0, 0) rotate(-10deg);
            opacity: 0; // Unsichtbar am Ende der Animation
        }
    }

@keyframes moveToTopRight {
    0% {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        opacity: 1; /* Anfänglich sichtbar */
    }

    80% {
        top: 0px;
        right: 0px;
        transform: translate(0%, 0%) rotate(10deg);
        opacity: 1; /* Sichtbar während der Bewegung */
    }

    100% {
        top: 0px;
        right: 0px;
        transform: translate(0%, 0%) rotate(10deg);
        opacity: 0; /* Unsichtbar am Ende der Animation */
    }
}

}