section{
    height: 200px;
    width: 300px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    border: solid 3px ;

    .sprachen{
        margin: 30px;
    }

    svg{
        &:hover{
            cursor: pointer;
        }
    }
}